.aboutSection {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.techStack {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 50px
}

.about {
    padding: 1em;
    background-color: white;
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width: 400px) {
    .about {
        width: 330px;
        display:block;
    }


}

.me{
    height: auto;
    width: 300px
}

h2 {
    color: #F4935A;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

ul {
    padding-inline-start: 0px
}