.contactSection {
    font-family: 'Oswald', sans-serif;
}

#contactBox {
    background-color: white;
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-size: 20px;
}

@media only screen and (max-width: 400px) {
    #contactBox {
        width: 330px;
    }
}

.thnx {
    text-align: center
}