.navbar {
    margin: 0;
    padding: 0
}

.headerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navtext{
    font-weight: 100;
    font-size: 20px;
    align-items: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    width: 100%
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}


.nav-choices{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.navbar__item{
    margin-left: 2em;
    margin-right: 2em;
}