.navbar {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.headerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 400px) {
    .headerimg
        {
            width: 100%;
        }
    
    .navbar__item{
        margin-left: 0em;
        margin-right: 0em;
    }

    .nav-choices{
        width: 70%
    }
}


.navtext{
    font-weight: 100;
    font-size: 20px;
    align-items: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    width: 100%
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}


.nav-choices{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%
}

.navbar__item{
    margin-left: 2em;
    margin-right: 2em;
}