.footerSection {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footerIcon {
    display: flex;
    width: 60px;
    height: auto;
}

.iconz {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}