.footerSection {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    /* align-items: baseline */
}

/* //icon image size */
.footerIcon {
    display: flex;
    width: 60px;
    height: auto;
}

.iconz {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}