.workSection {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em; 
}

.caseStudy {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-size: 18px;
    font-weight: 300;
}

@media only screen and (max-width: 400px) {
    .caseStudy {
        width: 330px;
    }

    .workSection {
        font-family: 'Oswald', sans-serif;
        background-color: white;
        width: 330px;
        height: auto;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1em; 
    }

    .reptiWORK {
        width: 100%
    }
}

.title {
    font-size: large;
}

.workBox {
    width: 220px;
    height: auto;
}

.workCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workCard {
    padding: 1em
}

.githubLink {
    font-size: large;
}

.highlightText{
    color: #F4935A;
}